.satellite-info {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 0.1em;
}

ul {
    margin: 0;
    padding: 0;
}