.satellite-info {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.status-vetting-in-progress {
    background-color: aquamarine;
}

.status-normal {
    background-color: green;
}

.status-warning {
    background-color: yellow;
}

.status-suspended { 
    background-color: red; 
}

.status-disqualified {
    background-color: red;
}

h2 {
    margin: 0.1em;
    font-size: small;
}

ul {
    margin: 0;
    padding: 0;
}