.satellite-info {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.status-vetting-in-progress {
    background-color: aquamarine;
}

.status-normal {
    background-color: green;
}

.status-warning {
    background-color: yellow;
}

.status-error { 
    background-color: red; 
}

.status-critical {
    background-color: #333333;
}

h2 {
    margin: 0.1em;
    font-size: small;
}

ul {
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
}

th {
    text-align: left;
}

td {
    text-align: left;
    padding-left: 1em;
}